.ButtonSave {
  background-color: #008000 !important;
  color: #fff !important;
  font-weight: bold !important;
  width: 200px !important;
}

.ButtonSave:hover {
  background-color: #006400 !important;
}

.TableCellHead {
  font-weight: bold !important;
  background-color: #ececec !important;
}

.TitlePage {
  margin-bottom: 20px !important;
}

.ListEstudents {
  overflow-y: auto;
  max-height: 100px;
  min-height: 100px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.TextField {
  width: 100% !important;
  min-width: 280px !important;
}
